<a href="https://colab.research.google.com/github/sandeep92134/The-Data-Science-Workshop-By-Packt/blob/master/module%2016/Exercise16.02%3A%20Applying%20Pipelines%20for%20Feature%20Extraction%20to%20the%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
#Loading data from the Github repository to colab notebook
filename = 'https://raw.githubusercontent.com/sandeep92134/The-Data-Science-Workshop-By-Packt/master/module%2015/datasets/crx.data'

In [3]:
# Loading the data using pandas
credData = pd.read_csv(filename,sep=",",header = None,na_values = "?")
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  +

In [4]:
# Changing the Classes to 1 & 0
credData.loc[credData[15] == '+' , 15] = 1
credData.loc[credData[15] == '-' , 15] = 0
credData.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  202.0    0  1
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g   43.0  560  1
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  280.0  824  1
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  100.0    3  1
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  120.0    0  1

In [5]:
# Dropping all the rows with na values
newcred = credData.dropna(axis = 0)
newcred.shape

(653, 16)

In [6]:
# Seperating X and y variables
X = newcred.loc[:,0:14]
print(X.shape)
y = newcred.loc[:,15]
print(y.shape)

(653, 15)
(653,)

In [7]:
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

**Pipe line for Dummy creation**

In [8]:
# Importing the necessary packages
from sklearn.pipeline import Pipeline

from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [9]:
# Pipeline for transforming categorical variables
catTransformer = Pipeline(steps=[('onehot', OneHotEncoder(handle_unknown='ignore'))])

In [10]:
# Pipeline for scaling numerical variables
numTransformer = Pipeline(steps=[('scaler', StandardScaler())])

In [11]:
# Printing dtypes for X
X.dtypes

0      object
1     float64
2     float64
3      object
4      object
5      object
6      object
7     float64
8      object
9      object
10      int64
11     object
12     object
13    float64
14      int64
dtype: object

In [12]:
# Selecting numerical features

numFeatures = X.select_dtypes(include=['int64', 'float64']).columns

numFeatures

Int64Index([1, 2, 7, 10, 13, 14], dtype='int64')

In [13]:
# Selecting Categorical features
catFeatures = X.select_dtypes(include=['object']).columns
catFeatures

Int64Index([0, 3, 4, 5, 6, 8, 9, 11, 12], dtype='int64')

In [14]:
# Creating the preprocessing engine
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('numeric', numTransformer, numFeatures),
        ('categoric', catTransformer, catFeatures)])

In [15]:
# Transforming the Training data
Xtran_train = pd.DataFrame(preprocessor.fit_transform(X_train))
print(Xtran_train.shape)
Xtran_train.head()

(457, 46)

         0         1         2         3         4   ...   41   42   43   44   45
0  0.105658 -0.444900  1.377002 -0.553206  0.570065  ...  0.0  1.0  1.0  0.0  0.0
1 -1.084238  1.115032 -0.528306 -0.553206 -0.602470  ...  1.0  0.0  1.0  0.0  0.0
2 -0.416675 -0.080916  0.592889 -0.327276 -0.367963  ...  0.0  1.0  1.0  0.0  0.0
3 -0.795428  1.418699 -0.189778 -0.553206 -0.485217  ...  0.0  1.0  1.0  0.0  0.0
4 -1.125497  0.439061 -0.636809 -0.553206 -0.250710  ...  1.0  0.0  1.0  0.0  0.0

[5 rows x 46 columns]

In [16]:
# Transforming Test data
Xtran_test = pd.DataFrame(preprocessor.transform(X_test))
print(Xtran_test.shape)
Xtran_test.head()

(196, 46)

         0         1         2         3         4   ...   41   42   43   44   45
0 -0.059376 -0.531217 -0.623789 -0.553206  0.687319  ...  1.0  0.0  1.0  0.0  0.0
1 -1.063609 -0.878562 -0.600642 -0.327276  0.101051  ...  1.0  0.0  1.0  0.0  0.0
2  0.648620  1.929316  1.847181  0.802371 -0.661097  ...  0.0  1.0  1.0  0.0  0.0
3  2.203242  3.402933  2.245025  2.383877 -1.071485  ...  1.0  0.0  1.0  0.0  0.0
4 -0.451332 -0.644572 -0.612215 -0.553206 -0.485217  ...  1.0  0.0  1.0  0.0  0.0

[5 rows x 46 columns]