<a href="https://colab.research.google.com/github/sandeep92134/The-Data-Science-Workshop-By-Packt/blob/master/module%2017/Exercise17.02%3A%20Creating%20New%20Features%20Using%20Deep%20Feature%20Synthesis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating Entities and relationships**

In [1]:
# Defining the path to the 
file_url = 'https://raw.githubusercontent.com/sandeep92134/The-Data-Science-Workshop-By-Packt/master/module%2017/datasets/bank-full.csv'

In [2]:
# Loading data using pandas
import pandas as pd
bankData = pd.read_csv(file_url,sep=";")
bankData.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [3]:
# Removing the target variable
Y = bankData.pop('y')

In [4]:
# Creating the Ids for Demographic Entity
bankData['custID'] = bankData.index.values

bankData['custID'] = 'cust' + bankData['custID'].astype(str)

In [5]:
# Creating AssetId
bankData['AssetId'] = 0
bankData.loc[bankData.housing == 'yes','AssetId']= 1

In [6]:
# Creating LoanId
bankData['LoanId'] = 0
bankData.loc[bankData.loan == 'yes','LoanId']= 1

In [7]:
# Creating Financial behaviour ID
bankData['FinbehId'] = 0
bankData.loc[bankData.default == 'yes','FinbehId']= 1

In [8]:
# Importing necessary libraries
import featuretools as ft
import numpy as np

In [9]:
# creating the entity set 'Bankentities'
Bankentities = ft.EntitySet(id = 'Bank')

In [10]:
# Mapping a dataframe to the entityset to form the parent entity
Bankentities.entity_from_dataframe(entity_id = 'Demographic Data', dataframe = bankData, index = 'custID')

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 20]
  Relationships:
    No relationships

In [11]:
# Mapping Assets and setting the relationship
Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='Assets', index = 'AssetId', 
additional_variables = ['housing'])

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 19]
    Assets [Rows: 2, Columns: 2]
  Relationships:
    Demographic Data.AssetId -> Assets.AssetId

In [12]:
# Mapping Loans and Financial behavior entities
Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='Liability', index = 'LoanId', 
additional_variables = ['loan'])

Bankentities.normalize_entity(base_entity_id='Demographic Data', new_entity_id='FinBehaviour', index = 'FinbehId', 
additional_variables = ['default'])

Entityset: Bank
  Entities:
    Demographic Data [Rows: 45211, Columns: 17]
    Assets [Rows: 2, Columns: 2]
    Liability [Rows: 2, Columns: 2]
    FinBehaviour [Rows: 2, Columns: 2]
  Relationships:
    Demographic Data.AssetId -> Assets.AssetId
    Demographic Data.LoanId -> Liability.LoanId
    Demographic Data.FinbehId -> FinBehaviour.FinbehId

**Feature Engineering**

In [13]:
# Creating feature sets using Deep Feature Synthesis
feature_set, feature_names = ft.dfs(entityset=Bankentities, 
target_entity = 'Demographic Data', 
max_depth = 2, 
verbose = 1, 
n_jobs = 1)

Built 196 features
Elapsed: 00:01 | Progress: 100%|██████████

In [14]:
# Reindexing the feature_set
feature_set = feature_set.reindex(index=bankData['custID'])
feature_set = feature_set.reset_index()

In [15]:
# Verifying the shape of the features and original bank data
print(feature_set.shape)
print(bankData.shape)

(45211, 197)
(45211, 20)

In [16]:
# Printing head of the feature set
feature_set.head()

  custID  ...  FinBehaviour.SUM(Demographic Data.previous)
0  cust0  ...                                        26018
1  cust1  ...                                        26018
2  cust2  ...                                        26018
3  cust3  ...                                        26018
4  cust4  ...                                        26018

[5 rows x 197 columns]

In [17]:
# Verifying the features for Assets.SUM(Demographic Data.balance)
bankData.groupby('AssetId')['balance'].agg('sum')

AssetId
0    32059342
1    29530340
Name: balance, dtype: int64

In [18]:
# Printing the list of all features
feature_names

[<Feature: age>,
 <Feature: job>,
 <Feature: marital>,
 <Feature: education>,
 <Feature: balance>,
 <Feature: contact>,
 <Feature: day>,
 <Feature: month>,
 <Feature: duration>,
 <Feature: campaign>,
 <Feature: pdays>,
 <Feature: previous>,
 <Feature: poutcome>,
 <Feature: AssetId>,
 <Feature: LoanId>,
 <Feature: FinbehId>,
 <Feature: Assets.housing>,
 <Feature: Liability.loan>,
 <Feature: FinBehaviour.default>,
 <Feature: Assets.COUNT(Demographic Data)>,
 <Feature: Assets.MAX(Demographic Data.age)>,
 <Feature: Assets.MAX(Demographic Data.balance)>,
 <Feature: Assets.MAX(Demographic Data.campaign)>,
 <Feature: Assets.MAX(Demographic Data.day)>,
 <Feature: Assets.MAX(Demographic Data.duration)>,
 <Feature: Assets.MAX(Demographic Data.pdays)>,
 <Feature: Assets.MAX(Demographic Data.previous)>,
 <Feature: Assets.MEAN(Demographic Data.age)>,
 <Feature: Assets.MEAN(Demographic Data.balance)>,
 <Feature: Assets.MEAN(Demographic Data.campaign)>,
 <Feature: Assets.MEAN(Demographic Data.day)>,
 <Feature: Assets.MEAN(Demographic Data.duration)>,
 <Feature: Assets.MEAN(Demographic Data.pdays)>,
 <Feature: Assets.MEAN(Demographic Data.previous)>,
 <Feature: Assets.MIN(Demographic Data.age)>,
 <Feature: Assets.MIN(Demographic Data.balance)>,
 <Feature: Assets.MIN(Demographic Data.campaign)>,
 <Feature: Assets.MIN(Demographic Data.day)>,
 <Feature: Assets.MIN(Demographic Data.duration)>,
 <Feature: Assets.MIN(Demographic Data.pdays)>,
 <Feature: Assets.MIN(Demographic Data.previous)>,
 <Feature: Assets.MODE(Demographic Data.FinbehId)>,
 <Feature: Assets.MODE(Demographic Data.LoanId)>,
 <Feature: Assets.MODE(Demographic Data.contact)>,
 <Feature: Assets.MODE(Demographic Data.education)>,
 <Feature: Assets.MODE(Demographic Data.job)>,
 <Feature: Assets.MODE(Demographic Data.marital)>,
 <Feature: Assets.MODE(Demographic Data.month)>,
 <Feature: Assets.MODE(Demographic Data.poutcome)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.FinbehId)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.LoanId)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.contact)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.education)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.job)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.marital)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.month)>,
 <Feature: Assets.NUM_UNIQUE(Demographic Data.poutcome)>,
 <Feature: Assets.SKEW(Demographic Data.age)>,
 <Feature: Assets.SKEW(Demographic Data.balance)>,
 <Feature: Assets.SKEW(Demographic Data.campaign)>,
 <Feature: Assets.SKEW(Demographic Data.day)>,
 <Feature: Assets.SKEW(Demographic Data.duration)>,
 <Feature: Assets.SKEW(Demographic Data.pdays)>,
 <Feature: Assets.SKEW(Demographic Data.previous)>,
 <Feature: Assets.STD(Demographic Data.age)>,
 <Feature: Assets.STD(Demographic Data.balance)>,
 <Feature: Assets.STD(Demographic Data.campaign)>,
 <Feature: Assets.STD(Demographic Data.day)>,
 <Feature: Assets.STD(Demographic Data.duration)>,
 <Feature: Assets.STD(Demographic Data.pdays)>,
 <Feature: Assets.STD(Demographic Data.previous)>,
 <Feature: Assets.SUM(Demographic Data.age)>,
 <Feature: Assets.SUM(Demographic Data.balance)>,
 <Feature: Assets.SUM(Demographic Data.campaign)>,
 <Feature: Assets.SUM(Demographic Data.day)>,
 <Feature: Assets.SUM(Demographic Data.duration)>,
 <Feature: Assets.SUM(Demographic Data.pdays)>,
 <Feature: Assets.SUM(Demographic Data.previous)>,
 <Feature: Liability.COUNT(Demographic Data)>,
 <Feature: Liability.MAX(Demographic Data.age)>,
 <Feature: Liability.MAX(Demographic Data.balance)>,
 <Feature: Liability.MAX(Demographic Data.campaign)>,
 <Feature: Liability.MAX(Demographic Data.day)>,
 <Feature: Liability.MAX(Demographic Data.duration)>,
 <Feature: Liability.MAX(Demographic Data.pdays)>,
 <Feature: Liability.MAX(Demographic Data.previous)>,
 <Feature: Liability.MEAN(Demographic Data.age)>,
 <Feature: Liability.MEAN(Demographic Data.balance)>,
 <Feature: Liability.MEAN(Demographic Data.campaign)>,
 <Feature: Liability.MEAN(Demographic Data.day)>,
 <Feature: Liability.MEAN(Demographic Data.duration)>,
 <Feature: Liability.MEAN(Demographic Data.pdays)>,
 <Feature: Liability.MEAN(Demographic Data.previous)>,
 <Feature: Liability.MIN(Demographic Data.age)>,
 <Feature: Liability.MIN(Demographic Data.balance)>,
 <Feature: Liability.MIN(Demographic Data.campaign)>,
 <Feature: Liability.MIN(Demographic Data.day)>,
 <Feature: Liability.MIN(Demographic Data.duration)>,
 <Feature: Liability.MIN(Demographic Data.pdays)>,
 <Feature: Liability.MIN(Demographic Data.previous)>,
 <Feature: Liability.MODE(Demographic Data.AssetId)>,
 <Feature: Liability.MODE(Demographic Data.FinbehId)>,
 <Feature: Liability.MODE(Demographic Data.contact)>,
 <Feature: Liability.MODE(Demographic Data.education)>,
 <Feature: Liability.MODE(Demographic Data.job)>,
 <Feature: Liability.MODE(Demographic Data.marital)>,
 <Feature: Liability.MODE(Demographic Data.month)>,
 <Feature: Liability.MODE(Demographic Data.poutcome)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.AssetId)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.FinbehId)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.contact)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.education)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.job)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.marital)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.month)>,
 <Feature: Liability.NUM_UNIQUE(Demographic Data.poutcome)>,
 <Feature: Liability.SKEW(Demographic Data.age)>,
 <Feature: Liability.SKEW(Demographic Data.balance)>,
 <Feature: Liability.SKEW(Demographic Data.campaign)>,
 <Feature: Liability.SKEW(Demographic Data.day)>,
 <Feature: Liability.SKEW(Demographic Data.duration)>,
 <Feature: Liability.SKEW(Demographic Data.pdays)>,
 <Feature: Liability.SKEW(Demographic Data.previous)>,
 <Feature: Liability.STD(Demographic Data.age)>,
 <Feature: Liability.STD(Demographic Data.balance)>,
 <Feature: Liability.STD(Demographic Data.campaign)>,
 <Feature: Liability.STD(Demographic Data.day)>,
 <Feature: Liability.STD(Demographic Data.duration)>,
 <Feature: Liability.STD(Demographic Data.pdays)>,
 <Feature: Liability.STD(Demographic Data.previous)>,
 <Feature: Liability.SUM(Demographic Data.age)>,
 <Feature: Liability.SUM(Demographic Data.balance)>,
 <Feature: Liability.SUM(Demographic Data.campaign)>,
 <Feature: Liability.SUM(Demographic Data.day)>,
 <Feature: Liability.SUM(Demographic Data.duration)>,
 <Feature: Liability.SUM(Demographic Data.pdays)>,
 <Feature: Liability.SUM(Demographic Data.previous)>,
 <Feature: FinBehaviour.COUNT(Demographic Data)>,
 <Feature: FinBehaviour.MAX(Demographic Data.age)>,
 <Feature: FinBehaviour.MAX(Demographic Data.balance)>,
 <Feature: FinBehaviour.MAX(Demographic Data.campaign)>,
 <Feature: FinBehaviour.MAX(Demographic Data.day)>,
 <Feature: FinBehaviour.MAX(Demographic Data.duration)>,
 <Feature: FinBehaviour.MAX(Demographic Data.pdays)>,
 <Feature: FinBehaviour.MAX(Demographic Data.previous)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.age)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.balance)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.campaign)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.day)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.duration)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.pdays)>,
 <Feature: FinBehaviour.MEAN(Demographic Data.previous)>,
 <Feature: FinBehaviour.MIN(Demographic Data.age)>,
 <Feature: FinBehaviour.MIN(Demographic Data.balance)>,
 <Feature: FinBehaviour.MIN(Demographic Data.campaign)>,
 <Feature: FinBehaviour.MIN(Demographic Data.day)>,
 <Feature: FinBehaviour.MIN(Demographic Data.duration)>,
 <Feature: FinBehaviour.MIN(Demographic Data.pdays)>,
 <Feature: FinBehaviour.MIN(Demographic Data.previous)>,
 <Feature: FinBehaviour.MODE(Demographic Data.AssetId)>,
 <Feature: FinBehaviour.MODE(Demographic Data.LoanId)>,
 <Feature: FinBehaviour.MODE(Demographic Data.contact)>,
 <Feature: FinBehaviour.MODE(Demographic Data.education)>,
 <Feature: FinBehaviour.MODE(Demographic Data.job)>,
 <Feature: FinBehaviour.MODE(Demographic Data.marital)>,
 <Feature: FinBehaviour.MODE(Demographic Data.month)>,
 <Feature: FinBehaviour.MODE(Demographic Data.poutcome)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.AssetId)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.LoanId)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.contact)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.education)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.job)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.marital)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.month)>,
 <Feature: FinBehaviour.NUM_UNIQUE(Demographic Data.poutcome)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.age)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.balance)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.campaign)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.day)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.duration)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.pdays)>,
 <Feature: FinBehaviour.SKEW(Demographic Data.previous)>,
 <Feature: FinBehaviour.STD(Demographic Data.age)>,
 <Feature: FinBehaviour.STD(Demographic Data.balance)>,
 <Feature: FinBehaviour.STD(Demographic Data.campaign)>,
 <Feature: FinBehaviour.STD(Demographic Data.day)>,
 <Feature: FinBehaviour.STD(Demographic Data.duration)>,
 <Feature: FinBehaviour.STD(Demographic Data.pdays)>,
 <Feature: FinBehaviour.STD(Demographic Data.previous)>,
 <Feature: FinBehaviour.SUM(Demographic Data.age)>,
 <Feature: FinBehaviour.SUM(Demographic Data.balance)>,
 <Feature: FinBehaviour.SUM(Demographic Data.campaign)>,
 <Feature: FinBehaviour.SUM(Demographic Data.day)>,
 <Feature: FinBehaviour.SUM(Demographic Data.duration)>,
 <Feature: FinBehaviour.SUM(Demographic Data.pdays)>,
 <Feature: FinBehaviour.SUM(Demographic Data.previous)>]

**Configuring the primitives**

In [19]:
# Creating aggregation and transformation primitives
aggPrimitives=[
        'std', 'min', 'max', 'mean', 
         'last', 'count'
        
]
tranPrimitives=[
        'percentile', 
         'subtract', 'divide']

In [21]:
# Displaying the feature set 
feature_set.head()

  custID  ...  FinBehaviour.SUM(Demographic Data.previous)
0  cust0  ...                                        26018
1  cust1  ...                                        26018
2  cust2  ...                                        26018
3  cust3  ...                                        26018
4  cust4  ...                                        26018

[5 rows x 197 columns]