In [1]:
# Defining the file name from github
filename = 'https://raw.githubusercontent.com/sandeep92134/The-Data-Science-Workshop-By-Packt/master/module%2014/datasets/ad.data'

In [2]:
import pandas as pd
# Loading the data using pandas

adData = pd.read_csv(filename,sep=",",header = None,error_bad_lines=False)
adData.head()

C:\Users\Sandeep\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [3]:
# Seperating the dependent and independent variables
# Preparing the X variables
X = adData.loc[:,0:1557]
print(X.shape)
# Preparing the Y variable
Y = adData[1558]
print(Y.shape)

(3279, 1558)
(3279,)

In [4]:
import numpy as np
# Replacing special characters in first 3 columns which are of type object
for i in range(0,3):
  X[i] = X[i].str.replace("?", 'NaN').values.astype(float)
# Replacing special characters in the remaining columns which are of type integer
for i in range(3,1557):
  X[i] = X[i].replace("?", 'NaN').values.astype(float)  
# Imputing the 'nan'  with mean of the values
for i in range(0,1557):
  X[i] = X[i].fillna(X[i].mean())

In [5]:
# Normalising the data sets
# Normalising data
from sklearn import preprocessing
# Creating the scaling function
minmaxScaler = preprocessing.MinMaxScaler()
X_tran = pd.DataFrame(minmaxScaler.fit_transform(X))
X_tran.head()

,0,1,2,3,4,5,6,7,8,9,...,1548,1549,1550,1551,1552,1553,1554,1555,1556,1557
0,0.194053,0.194053,0.016642,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.087637,0.730829,0.136820,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.050078,0.358372,0.116138,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.092332,0.730829,0.129978,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.092332,0.730829,0.129978,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Creating a high dimension data set
X_hd = pd.DataFrame(pd.np.tile(X_tran, (1, 2)))

print(X_hd.shape)

(3279, 3116)

<ipython-input-6-ee411428d726>:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  X_hd = pd.DataFrame(pd.np.tile(X_tran, (1, 2)))

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE

# Defining the Classification function
backModel = LogisticRegression()
# Reducing dimensionality to 250 features for backward elimination model
rfe = RFE(backModel, 250)

C:\Users\Sandeep\anaconda3\lib\site-packages\sklearn\utils\validation.py:67: FutureWarning: Pass n_features_to_select=250 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

In [8]:
# Fitting the rfe for selecting the top 250 features
import time
t0 = time.time()
rfe = rfe.fit(X_hd, Y)
t1 = time.time()
print("Backward Elimination time:", round(t1-t0, 3), "s")

Backward Elimination time: 1268.745 s

In [9]:
# Getting the indexes of the features used
rfe.get_support(indices = True)

array([   1,    9,   64,   91,   95,  104,  120,  139,  167,  172,  175,
        180,  183,  187,  246,  251,  265,  269,  278,  307,  317,  346,
        351,  357,  359,  370,  372,  381,  386,  398,  417,  418,  426,
        450,  455,  456,  457,  478,  499,  506,  508,  545,  549,  562,
        634,  638,  658,  663,  679,  686,  705,  723,  739,  766,  803,
        818,  819,  849,  860,  888,  935,  948,  950,  968,  983, 1009,
       1011, 1018, 1021, 1022, 1035, 1043, 1060, 1081, 1086, 1087, 1116,
       1167, 1179, 1180, 1228, 1229, 1243, 1262, 1271, 1278, 1286, 1314,
       1326, 1327, 1341, 1351, 1364, 1367, 1371, 1380, 1382, 1388, 1399,
       1405, 1413, 1416, 1423, 1441, 1445, 1455, 1458, 1462, 1465, 1483,
       1484, 1493, 1510, 1531, 1532, 1533, 1537, 1539, 1555, 1558, 1559,
       1622, 1633, 1649, 1653, 1662, 1678, 1691, 1697, 1703, 1725, 1730,
       1733, 1741, 1801, 1804, 1809, 1822, 1827, 1865, 1875, 1904, 1909,
       1915, 1917, 1928, 1930, 1939, 1956, 1975, 1976, 1978, 1984, 1999,
       2008, 2013, 2014, 2015, 2036, 2057, 2064, 2066, 2069, 2095, 2103,
       2107, 2114, 2120, 2216, 2221, 2237, 2244, 2281, 2293, 2324, 2361,
       2365, 2376, 2377, 2407, 2418, 2446, 2461, 2463, 2472, 2493, 2506,
       2508, 2526, 2541, 2556, 2567, 2576, 2579, 2580, 2593, 2601, 2616,
       2618, 2636, 2639, 2644, 2645, 2667, 2672, 2674, 2725, 2737, 2738,
       2786, 2787, 2801, 2805, 2820, 2829, 2834, 2872, 2884, 2885, 2899,
       2909, 2920, 2922, 2925, 2938, 2946, 2957, 2963, 2965, 2971, 2974,
       2981, 2992, 2995, 3003, 3013, 3016, 3020, 3023, 3041, 3042, 3065,
       3068, 3085, 3089, 3090, 3095, 3097, 3110, 3113], dtype=int64)

In [10]:
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_hd, Y, test_size=0.3, random_state=123)

print('Training set shape',X_train.shape)

print('Test set shape',X_test.shape)

Training set shape (2295, 3116)
Test set shape (984, 3116)

In [11]:
# Transforming both train and test sets

X_train_tran = rfe.transform(X_train)

X_test_tran = rfe.transform(X_test)

print("Training set shape",X_train_tran.shape)

print("Test set shape",X_test_tran.shape)

Training set shape (2295, 250)
Test set shape (984, 250)

In [12]:
# Fitting the logistic regression model 
import time
# Defining the LogisticRegression function
RfeModel = LogisticRegression()
# Starting a timing function
t0=time.time()
# Fitting the model
RfeModel.fit(X_train_tran, y_train)
# Finding the end time 

print("Total training time:", round(time.time()-t0, 3), "s")

Total training time: 0.058 s

In [13]:
# Predicting on the test set and getting the accuracy
pred = RfeModel.predict(X_test_tran)

print('Accuracy of Logistic regression model after backward elimination: {:.2f}'.format(RfeModel.score(X_test_tran, y_test)))

Accuracy of Logistic regression model after backward elimination: 0.98

In [14]:
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[109  17]
 [  1 857]]

In [15]:
from sklearn.metrics import classification_report
# Getting the Classification_report
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

         ad.       0.99      0.87      0.92       126
      nonad.       0.98      1.00      0.99       858

    accuracy                           0.98       984
   macro avg       0.99      0.93      0.96       984
weighted avg       0.98      0.98      0.98       984