<a href="https://colab.research.google.com/github/sandeep92134/The-Data-Science-Workshop-By-Packt/blob/master/module%207/Exercise%207.02%20%20Setting%20a%20Random%20State%20When%20Splitting%20Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Import and Splitt the Data

In [1]:
# import libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
# data doesn't have headers, so let's create headers
_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']

In [3]:
# read in cars dataset
df = pd.read_csv('https://raw.githubusercontent.com/sandeep92134/The-Data-Science-Workshop-By-Packt/master/module%207/datasets/car.data', names=_headers, index_col=None)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
# split the data into 80% for training and 20% for evaluation
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=1)

In [6]:
training_df.head()

     buying maint  doors persons lug_boot safety    car
1579    low   med      4       4      med    med   good
634    high  high  5more       4      med    med    acc
299   vhigh   med  5more       2    small   high  unacc
1085    med   med      2       2      med   high  unacc
1659    low   low      3       4      med    low  unacc

In [7]:
eval_df.head()

     buying maint  doors persons lug_boot safety    car
1233    med   low      3    more    small    low  unacc
592    high  high      3    more      big    med    acc
625    high  high  5more       2      med    med  unacc
1546    low   med      3       2      big    med  unacc
730    high   med  5more       2    small    med  unacc