<a href="https://colab.research.google.com/github/sandeep92134/The-Data-Science-Workshop-By-Packt/blob/master/module%206/Exercise6.02%3A%20Computing%20the%20R2%20Score%20of%20a%20Linear%20Regression%20Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import libraries 

import pandas as pd 

from sklearn.model_selection import train_test_split 

from sklearn.linear_model import LinearRegression

In [2]:
# column headers 

_headers = ['CIC0', 'SM1', 'GATS1i', 'NdsCH', 'Ndssc', 'MLOGP', 'response'] 

# read in data 

df = pd.read_csv('https://raw.githubusercontent.com/sandeep92134/The-Data-Science-Workshop-By-Packt/master/module%206/datasets/qsar_fish_toxicity.csv', names=_headers, sep=';')

In [3]:
df.head()

    CIC0    SM1  GATS1i  NdsCH  Ndssc  MLOGP  response
0  3.260  0.829   1.676      0      1  1.453     3.770
1  2.189  0.580   0.863      0      0  1.348     3.115
2  2.125  0.638   0.831      0      0  1.348     3.531
3  3.027  0.331   1.472      1      0  1.807     3.510
4  2.094  0.827   0.860      0      0  1.886     5.390

In [4]:
# Let's split our data 

features = df.drop('response', axis=1).values 

labels = df[['response']].values 

 

X_train, X_eval, y_train, y_eval = train_test_split(features, labels, test_size=0.2, random_state=0) 

X_val, X_test, y_val, y_test = train_test_split(X_eval, y_eval, random_state=0)

In [5]:
model = LinearRegression()

In [6]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
y_pred = model.predict(X_val)

In [8]:
r2 = model.score(X_val, y_val) 

print('R^2 score: {}'.format(r2))

R^2 score: 0.5623861754188693

In [9]:
_ys = pd.DataFrame(dict(actuals=y_val.reshape(-1), predicted=y_pred.reshape(-1))) 

_ys.head()

   actuals  predicted
0    3.742   4.155885
1    6.143   6.398238
2    4.674   5.183181
3    4.865   3.771333
4    4.732   4.593059